## Assignment #1 (demo). Exploratory data analysis with Pandas

Link to the the assignment:
https://mlcourse.ai/book/topic01/assignment01_pandas_uci_adult.html

### Importing Necessary Libraries

In [1]:
import numpy as np
import pandas as pd

pd.set_option("display.max.columns", 100)
# to draw pictures in jupyter notebook
%matplotlib inline
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings

import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings("ignore")

### Importing Data

In [2]:
# for Jupyter-book, we copy data from GitHub, locally, to save Internet traffic,
# you can specify the data/ folder from the root of your cloned
# https://github.com/Yorko/mlcourse.ai repo, to save Internet traffic
DATA_URL = "https://raw.githubusercontent.com/Yorko/mlcourse.ai/master/data/"

In [19]:
data = pd.read_csv(DATA_URL + "adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### 1. How many men and women (sex feature) are represented in this dataset?

Amount of men and women in the data set:

In [4]:
data["sex"].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

Amount of men and women in the dataset as a percentage:

In [5]:
data["sex"].value_counts(normalize=True)

Male      0.669205
Female    0.330795
Name: sex, dtype: float64

### 2. What is the average age (age feature) of women?

Average age of women:

In [6]:
data.loc[data['sex'] == 'Female', 'age'].mean()

36.85823043357163

### 3. What is the percentage of German citizens (native-country feature)?

Percentage of German citizens:

In [17]:
data["native-country"].value_counts(normalize=True)['Germany']*100

0.42074874850281013

### 4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature) and those who earn less than 50K per year?

Check all possible values in column 
<b> salary

In [22]:
data['salary'].unique()

array(['<=50K', '>50K'], dtype=object)

Mean of age for those who earn more than 50K:

In [24]:
data.loc[data['salary'] == '>50K', 'age'].mean()

44.24984058155847

Standard deviation of age for those who earn more than 50K:

In [107]:
data.loc[data['salary'] == '>50K', 'age'].std()

10.51902771985177

Mean of age for those who earn less than 50K:

In [27]:
data.loc[data['salary'] == '<=50K', 'age'].mean()

36.78373786407767

Standard deviation of age for those who earn more than 50K:

In [108]:
data.loc[data['salary'] == '<=50K', 'age'].std()

14.020088490824813

### 6. Is it true that people who earn more than 50K have at least high school education? (education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

Check education of everyone in dataset:

In [36]:
data['education'].value_counts()

HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64

Check education of people who earn more than 50K:

In [33]:
data.loc[data["salary"] == '>50K', 'education'].value_counts()

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

Check percent of education level of people who earn more than 50K:

In [37]:
data.loc[data["salary"] == '>50K', 'education'].value_counts(normalize = True)

Bachelors       0.283255
HS-grad         0.213621
Some-college    0.176891
Masters         0.122306
Prof-school     0.053947
Assoc-voc       0.046040
Doctorate       0.039026
Assoc-acdm      0.033797
10th            0.007907
11th            0.007652
7th-8th         0.005101
12th            0.004209
9th             0.003443
5th-6th         0.002041
1st-4th         0.000765
Name: education, dtype: float64

It is false that people who earn more than 50K have at least high school education

### 7. Display age statistics for each race (race feature) and each gender (sex feature). Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.

Age statistics for each race and gender, maximum age of men of Amer-Indian-Eskimo race:

In [53]:
for (race, sex), sub_df in data.groupby(["race", "sex"]):
    print("Race: {0}, sex: {1}".format(race, sex))
    print(sub_df["age"].describe())

Race: Amer-Indian-Eskimo, sex: Female
count    119.000000
mean      37.117647
std       13.114991
min       17.000000
25%       27.000000
50%       36.000000
75%       46.000000
max       80.000000
Name: age, dtype: float64
Race: Amer-Indian-Eskimo, sex: Male
count    192.000000
mean      37.208333
std       12.049563
min       17.000000
25%       28.000000
50%       35.000000
75%       45.000000
max       82.000000
Name: age, dtype: float64
Race: Asian-Pac-Islander, sex: Female
count    346.000000
mean      35.089595
std       12.300845
min       17.000000
25%       25.000000
50%       33.000000
75%       43.750000
max       75.000000
Name: age, dtype: float64
Race: Asian-Pac-Islander, sex: Male
count    693.000000
mean      39.073593
std       12.883944
min       18.000000
25%       29.000000
50%       37.000000
75%       46.000000
max       90.000000
Name: age, dtype: float64
Race: Black, sex: Female
count    1555.000000
mean       37.854019
std        12.637197
min        17.000000
25%        28.000000
50%        37.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: Black, sex: Male
count    1569.000000
mean       37.682600
std        12.882612
min        17.000000
25%        27.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: Other, sex: Female
count    109.000000
mean      31.678899
std       11.631599
min       17.000000
25%       23.000000
50%       29.000000
75%       39.000000
max       74.000000
Name: age, dtype: float64
Race: Other, sex: Male
count    162.000000
mean      34.654321
std       11.355531
min       17.000000
25%       26.000000
50%       32.000000
75%       42.000000
max       77.000000
Name: age, dtype: float64
Race: White, sex: Female
count    8642.000000
mean       36.811618
std        14.329093
min        17.000000
25%        25.000000
50%        35.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: White, sex: Male
count    19174.000000
mean        39.652498
std         13.436029
min         17.000000
25%         29.000000
50%         38.000000
75%         49.000000
max         90.000000
Name: age, dtype: float64

### 8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (marital-status feature)? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

Checking data in <b>martial status:

In [65]:
data.loc[data["salary"] == '>50K', 'marital-status'].value_counts()

Married-civ-spouse       6692
Never-married             491
Divorced                  463
Widowed                    85
Separated                  66
Married-spouse-absent      34
Married-AF-spouse          10
Name: marital-status, dtype: int64

Calculation proportion:

In [64]:
proportion = data.loc[data["salary"] == '>50K', 'marital-status'].value_counts()

In [63]:
(proportion['Widowed']+proportion['Never-married']+proportion['Divorced']+proportion['Separated'])/(proportion['Married-civ-spouse']+proportion['Married-spouse-absent']+proportion['Married-AF-spouse'])*100

16.40439429928741

### 9. What is the maximum number of hours a person works per week (hours-per-week feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

Maximum number of hours a person works per week:

In [80]:
data['hours-per-week'].max()

99

Amount of people that work maximum number of hours:

In [81]:
len(data[data['hours-per-week'] == 99])

85

Amount of people that work maximum number of hours and earn a lot (>50K):

In [84]:
len(data[(data['hours-per-week'] == 99) & (data['salary']== '>50K')])

25

Percentage of those who earn a lot (>50K) among people that work 99 hours per week:

In [87]:
len(data[(data['hours-per-week'] == 99) & (data['salary']== '>50K')])/len(data[data['hours-per-week'] == 99])*100

29.411764705882355

### 10. Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for each country (native-country). What will these be for Japan?

Filtering people by income:

In [98]:
big_income = data.loc[data['salary'] == '>50K']
low_income = data.loc[data['salary'] == '<=50K']

Average time of work (hours-per-week) for those who earn a lot for each country:

In [99]:
big_income.groupby('native-country').mean()['hours-per-week']

native-country
?                     45.547945
Cambodia              40.000000
Canada                45.641026
China                 38.900000
Columbia              50.000000
Cuba                  42.440000
Dominican-Republic    47.000000
Ecuador               48.750000
El-Salvador           45.000000
England               44.533333
France                50.750000
Germany               44.977273
Greece                50.625000
Guatemala             36.666667
Haiti                 42.750000
Honduras              60.000000
Hong                  45.000000
Hungary               50.000000
India                 46.475000
Iran                  47.500000
Ireland               48.000000
Italy                 45.400000
Jamaica               41.100000
Japan                 47.958333
Laos                  40.000000
Mexico                46.575758
Nicaragua             37.500000
Peru                  40.000000
Philippines           43.032787
Poland                39.000000
Portugal              41.500000
Puerto-Rico           39.416667
Scotland              46.666667
South                 51.437500
Taiwan                46.800000
Thailand              58.333333
Trinadad&Tobago       40.000000
United-States         45.505369
Vietnam               39.200000
Yugoslavia            49.500000
Name: hours-per-week, dtype: float64

Average time of work (hours-per-week) for those who earn a little for each country:

In [100]:
low_income.groupby('native-country').mean()['hours-per-week']

native-country
?                             40.164760
Cambodia                      41.416667
Canada                        37.914634
China                         37.381818
Columbia                      38.684211
Cuba                          37.985714
Dominican-Republic            42.338235
Ecuador                       38.041667
El-Salvador                   36.030928
England                       40.483333
France                        41.058824
Germany                       39.139785
Greece                        41.809524
Guatemala                     39.360656
Haiti                         36.325000
Holand-Netherlands            40.000000
Honduras                      34.333333
Hong                          39.142857
Hungary                       31.300000
India                         38.233333
Iran                          41.440000
Ireland                       40.947368
Italy                         39.625000
Jamaica                       38.239437
Japan                         41.000000
Laos                          40.375000
Mexico                        40.003279
Nicaragua                     36.093750
Outlying-US(Guam-USVI-etc)    41.857143
Peru                          35.068966
Philippines                   38.065693
Poland                        38.166667
Portugal                      41.939394
Puerto-Rico                   38.470588
Scotland                      39.444444
South                         40.156250
Taiwan                        33.774194
Thailand                      42.866667
Trinadad&Tobago               37.058824
United-States                 38.799127
Vietnam                       37.193548
Yugoslavia                    41.600000
Name: hours-per-week, dtype: float64

Average time of work (hours-per-week) for those who earn a lot in Japan:

In [102]:
big_income.loc[big_income['native-country'] == 'Japan'].mean()['hours-per-week']

47.958333333333336

Average time of work (hours-per-week) for those who earn a little in Japan:

In [104]:
low_income.loc[low_income['native-country'] == 'Japan'].mean()['hours-per-week']

41.0